.header {
  height: 56px;
  width: 100%;
  background-color: #000000;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.header nav {
  height: 100%;
}
.Layout-Content {
  margin-top: 72px;
}
