.AddPage {
  width: 800px;
  margin: 3% auto;
  border: 2px solid black;
  padding: 35px;
}

.Field {
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  margin: 10px auto;
  display: block;
  width: 100%;
  box-sizing: border-box;
}
.Field:focus {
  outline: none;
}

.AddPage button {
  padding: 10px 15px;
  background: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  outline: none;
  color: white;
}
.AddPage button:hover {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  cursor: pointer;
  color: black;
}
