.NavigationItem {
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.NavigationItem a {
  color: white;
  height: 100%;
  padding: 16px 60px;
  border-bottom: 4px solid transparent;
  margin: 5px;
  text-decoration: none;
  width: 100%;
  display: block;
  box-sizing: border-box;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  background-color: #ffffff;
  border-bottom: 4px solid #ffffff;
  color: rgb(0, 0, 0);
}
